.containerPopup {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(#699be7, .3);
  display: flex;
  align-items: center;
  justify-content: center;

}




.popup {
  width: 50em;
  max-width: 60%;
  background-color: var(--colorPrimary);
  border-radius: 1em;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;

  @media (max-width: 1024px) {
    width: 80%;
    max-width: 100%;
  }

  @media (max-width: 748px) {
    width: 90%;
    max-width: 100%;
  }
}


