.controller {
  position: relative;
  width: 100%;
  padding: 1.5em 0;
}

.label {
 position: absolute;
 top: .75em;
 left: 3em;
 background-color: var(--colorPrimary);
 padding: 0 1em;
 color: var(--colorBtn);

}

.input {
  width: 100%;
  padding: .75em 1.5em;
  border-radius: .5em;
  border: .1em solid var(--colorBtn);
  color: var(--colorTextControllers);
  background-color: transparent;
}