@use '../../styles/variables.scss';
@use '../../styles/mixins.scss' as mix;

@mixin gridMedia {
  @media (max-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 840px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 748px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container {
  max-height: 100dvh;
  min-height: 100dvh;
  overflow: hidden;
  background-color: var(--colorPrimary);
  padding: 1em;
  display: grid;
  gap: 1em;
  grid-template-rows: 5em 3em 2em 2fr 2em 1fr;
}

.board {
  overflow-y: auto;
  padding: 1em;
  @include mix.scroll;
}

.title {
  @include mix.titlePrimaty;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  width: 100%;
  @include gridMedia;
}

.primaryBtn {
  @include mix.primaryBtn;
}


.compliteProjectWrapper {
  border-radius: 1.5em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  width: 100%;
  @include gridMedia;
}

.titleBoard {
  @include mix.titleSecondary;
  width: 100%;
  text-align: left;
}